@{
    ViewData["Title"] = "Access denied";
}

<div class="content row justify-content-center">
    <div class="content_center col-11 col-md-7 col-xl-8 text-center">
        <section class="content_form">
            <div class="content_header">
                <h1 class="h2 text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">
                    You do not have access to this resource.
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="form-group">
                        <!--<button type="submit" class="btn btn-primary btn-block btn-lg">Return home</button>-->
                        <p class="muted text-center form-hint">
                            <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Back to sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
