@model ResetPasswordModel
@inject WebsiteSettings websiteSettings

@{
    ViewData["Title"] = "Create new password";
}
<header class="header">
    <div class="container-fluid">
        <a href="~/" class="navbar-brand">
            <img src="~/@websiteSettings.DarkLogo" width="132">
        </a>
    </div>
</header>
<div class="content row justify-content-center">
    <div class="content_center col-11 col-md-7 col-xl-8 text-center">
        <section class="content_form">
            <div class="content_header">
                <img src="/img/forgot_pass.svg" width="277px" alt="forgot_pass" />
                <h1 class="h2">@ViewData["Title"]</h1>
            </div>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger form-group"></div>
                <input asp-for="UserId" type="hidden" />
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group-alt">
                        <input asp-for="Password" class="form-control" placeholder="Minimum 8 characters" />
                        <button class="btn btn-icon btn-append" type="button">
                            <i class="icon icon--show"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Minimum 8 characters" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block btn-lg">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>