.page-consent {
    .client-logo {
        float: left;
        margin: 10px 12px 10px 0;

        img {
            max-width: 100px;
            height: auto;
        }
    }

    .consent-buttons {
        margin-top: 25px;
    }

    .consent-form {
        .consent-scopecheck {
            display: inline-block;
            margin-right: 5px;
        }

        .consent-scopecheck[disabled] {
            //visibility:hidden;
        }

        .consent-description {
            margin-left: 25px;

            label {
                font-weight: normal;
            }
        }

        .consent-remember {
            margin-top: 15px;
            padding-left: 16px;
        }
    }
}