$primary: #0da7fc;
$light-gray: #b2b8bf;
$gray: #657180;
$dark: #333;
$black: #111;
$secondary: #3f4d60;
$red: #ff3e2e;
$danger: $red;
$disabled: #f5f6f7;

$headings-font-family: 'Akrobat', sans-serif; 
$font-family-base: 'Proxima Nova', sans-serif;
$border-color: #cfd2d7;
$border-radius: 4px;
$input-placeholder-color: $light-gray;